@model VillaNumberVM

<div class="card border-0 shadow-lg p-4">
    <div class="card-header bg-success bg-gradient text-center text-white py-3">
        <h2>Create Villa Number</h2>
    </div>
    <div class="card-body p-4">
        <form id="toastNotification" method="post" class="needs-validation">
            <div class="mb-3">
                <label asp-for="VillaNumber!.VillaId" class="form-label">Select Villa</label>
                <select asp-for="VillaNumber!.VillaId" asp-items="@Model.VillaList" class="form-select shadow-sm">
                    <option disabled selected>--Select Villa--</option>
                </select>
                <span asp-validation-for="VillaNumber!.VillaId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="VillaNumber!.Villa_Number" class="form-label">Villa Number</label>
                <input asp-for="VillaNumber!.Villa_Number" class="form-control shadow-sm" />
                <span asp-validation-for="VillaNumber!.Villa_Number" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="VillaNumber!.SpecialDetails" class="form-label">Special Details</label>
                <input asp-for="VillaNumber!.SpecialDetails" class="form-control shadow-sm" />
            </div>

            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-colour-1 w-100">
                        <ion-icon name="checkmark-circle-outline" class="me-1 ionic-icons align-middle"></ion-icon>SAVE
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" asp-controller="VillaNumber" class="btn btn-outline w-100">
                        <i class="material-icons align-middle">close</i> DISCARD
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<style>

    .btn-colour-1 {
        color: #fff;
        background-color: #004E64;
        border: none;
        font-weight: bold;
        letter-spacing: 0.05em;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
    }

    .btn-outline {
        color: #4fbfa8;
        background-color: #ffffff;
        border: none;
        font-weight: bold;
        letter-spacing: 0.05em;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
    }
</style>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
