@{
    ViewBag.Title = "Access Denied";
}

<div class="container pt-5 text-center">
    <img src="~/Assets/accessDenied.jpg" alt="Access Denied" class="img-fluid mb-4" />
    <h2>Access Denied</h2>
    <p>You do not have permission to access this page.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary mb-4">Go to Homepage</a>
</div>