@model VillaApp.Domains.Entities.Villa

<body class="container bg-light">
    <div class="text-center pt-5">
        <h2>Edit Villa</h2>
        <p>Please modify the details of villa below.</p>
    </div>

    <div class="card">
        <div class="card-body">
            <form id="toastNotification" method="post" class="needs-validation" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="Name">Villa Name</label>
                    <input asp-for="Name" class="form-control shadow-sm" placeholder="Enter villa name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <small class="form-text text-muted">Please fill in the villa name.</small>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control shadow-sm" placeholder="Enter description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control shadow-sm" placeholder="Enter price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sqft">Square Feet</label>
                    <input asp-for="Sqft" class="form-control shadow-sm" placeholder="Enter square feet" />
                    <span asp-validation-for="Sqft" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Occupancy">Occupancy</label>
                    <input asp-for="Occupancy" class="form-control shadow-sm" placeholder="Enter occupancy" />
                    <span asp-validation-for="Occupancy" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageUrl">Image</label>
                    <input asp-for="ImageUrl" hidden class="form-control shadow-sm" placeholder="Enter image URL" />
                    <input asp-for="Image" class="form-control shadow-sm" placeholder="Select Image" />
                    
                </div>

                <div class="row justify-content-end">
                    <div class="col-6 col-md-3">
                        <button type="submit"
                            class="btn btn-danger btn-sm shadow-sm w-100 justify-content-center pt-1 mt-3">
                            <ion-icon name="checkmark-circle-outline"
                                class="me-1 ionic-icons align-middle"></ion-icon>SUBMIT
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" asp-controller="Villa"
                            class="btn btn-outline-dark btn-sm shadow-sm w-100 justify-content-center pt-1 mt-3">
                            <ion-icon name="close-circle-sharp" class="me-1 ionic-icons align-middle"></ion-icon>DISCARD
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
    

    <style>
        
    </style>

    @section Scripts {
        @{
            <partial name="_ValidationScriptsPartial" />
        }
        
    }
