@model Villa

<div class="card border-0 shadow-lg p-4">
    <div class="card-header bg-dark bg-gradient text-center text-white py-3">
        <h2>Create Villa</h2>
    </div>
    <div class="card-body p-4">
        <form id="toastNotification" method="post" class="needs-validation">
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control shadow-sm" />
                <label asp-for="Name" class="form-label">Villa Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Description" class="form-control shadow-sm" />
                <label asp-for="Description" class="form-label">Description</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Price" class="form-control shadow-sm" />
                <label asp-for="Price" class="form-label">Price</label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Sqft" class="form-control shadow-sm" />
                <label asp-for="Sqft" class="form-label">Square Feet</label>
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Occupancy" class="form-control shadow-sm" />
                <label asp-for="Occupancy" class="form-label">Occupancy</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ImageUrl" class="form-control shadow-sm" />
                <label asp-for="ImageUrl" class="form-label">Image URL</label>
            </div>

            <div class="row justify-content-end">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-colour-1 btn-sm w-100">
                        <ion-icon name="checkmark-circle-outline" class="me-1 ionic-icons align-middle"></ion-icon>SAVE
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" asp-controller="Villa" class="btn btn-outline btn-sm w-100">
                        <ion-icon name="close-circle-sharp" class="me-1 ionic-icons align-middle"></ion-icon>DISCARD
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .btn-outline {
        color: #4fbfa8;
        background-color: #ffffff;
        border-color: #4fbfa8;
        font-weight: bold;
        letter-spacing: 0.05em;
    }

        .btn-outline:hover,
        .btn-outline:active,
        .btn-outline:focus,
        .btn-outline.active {
            background: #4fbfa8;
            color: #ffffff;
            border-color: #4fbfa8;
        }

    .btn-colour-1 {
        color: #fff;
        background-color: #004E64;
        border-color: #004E64;
        font-weight: bold;
        letter-spacing: 0.05em;
    }

        .btn-colour-1:hover,
        .btn-colour-1:active,
        .btn-colour-1:focus,
        .btn-colour-1.active {
            background: #003D4F;
            color: #ffffff;
            border-color: #003D4F;
        }
</style>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
